#image_gallery{
    background-color: black;
    margin-left: 10px;
    margin-top: 2.5%;
    padding: 1%;
}

.img-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image_annotate{
    object-fit: cover;
}

.uploadFile{
    margin: 3%;
    margin-left: 1%;
}

.navbar-light{
    background-color: rgb(169, 213, 241);
    font-size: medium;
    font-weight: 600;
}

.outerDiv{
    visibility:hidden;
  }
  
.innerDiv{
    visibility:hidden;
}

.outerDiv.active{
    visibility:visible;
}

.innerDiv.active{
    visibility:visible;
}

